/* Fonts */
@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Neucha';
    src: url('../assets/fonts/Neucha-Regular.ttf');
    font-weight: 400;
}

:root {
    --white: #fff;
    --white-trancelucent: #d7ccc0;
    --light: #f5f4f0;
    --prime-orange: #fe8a02;
    --primary-dark: #42413c;
    --dark: #2a2626;
    --dark-trancelucent: #908d8b;;
    --brown: #b09a81;
    --blue: #1085c5;
    --dark-orange: #EA7600;
}
/*
/* Main Styles */
* {
    margin: 0;
    padding: 0;
}

.body {
    overflow-x: hidden;
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 1.6em;
    color: var(--dark);
}

h1,
h2,
h3 {
    margin-bottom: 16px;
    font-family: 'Neucha';
    line-height: 1.2em;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 34px;
}

p {
    margin-bottom: 16px;
}

.container {
    position: relative;
    z-index: 0;
    width: 1110px;
    margin: 0 auto;
    padding: 100px 0;
}

.col {
    flex-basis: 540px;
    margin-bottom: 0;
}

.number {
    margin-bottom: 37px;
    font-family: 'Neucha';
    font-size: 64px;
    line-height: 1em;
    color: var(--primary-dark);
}

.card {
    flex-basis: 302px;
    padding: 24px;
    text-decoration: none;
}

.card:hover {
    color: #fff;
    cursor: pointer;
    --light: #fe8a02;
    --prime-orange: #fff;
    --primary-dark: #fff;
    --dark: #fff;
  }

  .paragraph {
    margin-bottom: 0;

    font-weight: 400;
    font-family: 'Neucha', cursive;
    line-height: 1.2em;
  }
/* Font Sizes */

.fs-24{
    font-size: 24px;
}

.fs-34 {
    font-size: 34px;
}

.fs-52 {
    font-size: 52px;
}

.fs-13 {
    font-size: 13px;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-18 {
    font-size: 18px;
}

.fs-52 {
    font-size: 52px;
}

/* Colors */
.c-white {
    color: var(--white);
}

.c-white-trans {
    color: var(--white-trancelucent);
}

.c-light {
    color: var(--light);
}

.c-orange {
    color: var(--prime-orange);
}

.c-prime-dark {
    color: var(--prime-dark);
}

.c-dark {
    color: var(--dark);
}

.c-dark-trans {
    color: var(--dark-trancelucent);
}

.c-brown {
    color: var(--brown);
}

.c-blue {
    color: var(--blue);
}

.bg-light {
    background-color: var(--light);
}

.bg-white {
    background-color: var(--white);
}

.bg-dark {
    background-color: var(--primary-dark);
}

.bg-orange {
    background-color: var(--prime-orange);
}

.bg-white {
    background-color: white;
}

.bg-brown {
    background-color: var(--brown);
}
/* Positioning */
.pos-relative {
    position: relative;
}

.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.mr-10 {
    margin-right: 10px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-30 {
    margin-right: 30px;
}

.mb-0 {
    margin-bottom: 0px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-14 {
    margin-bottom: 14px;
}
.mb-200 {
    margin-bottom: 200px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-24 {
    margin-top: 24px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-m200 {
    margin-top: -200px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mt-74 {
    margin-top: 74px;
}
.mb-40 {
    margin-bottom: 40px;
}
.pt-200 {
    padding-top: 200px;
}

.pr-9 {
    padding-right: 9px;
}

.pl-55 {
    padding-left: 55px;
}
/* Background Image */

.bg-img::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: no-repeat url('../images/background.png');
    background-size: cover;
    opacity: 0.1;
    content: '';
}


/* Images */

.header-img {
    position: absolute;
    top: 55px;
    right: -270px;
    width: 1082.81px;
    z-index: -1;
    height: 525px;
}

.img {
    width: 578px;
    height: 434px;
    vertical-align: middle;
}
/* Button */

.btn {
    color: var(--white);
    background-color: var(--prime-orange);
}

.btn:hover {
    background-color: var(--dark-orange);
    cursor: pointer;
}

.btn-primary {
  display: inline-block;
  padding: 13px 24px;
  font-weight: 700;
  text-decoration: none;
}

.btn-icon {
    position: relative;
    width: 70px;
    height: 50px;
    border: none;
}

.btn-icon::before {
    position: absolute;
    top: 14px;
    left: 24px;
    width: 22px;
    height: 22px;
    background-image: url('../images/send.svg');
    background-position: center center;
    content: '';
  }

.uppercase {
    text-transform: uppercase;
}

/* Video Shadow */

.shadow {
    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15)); 
}

.video {
  width: 919px;
  height: 569px;
  border: none;
}

.heading-line {
  margin: 100px 0 0 0;
  padding: 5px 10px;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 14px;
}


/* Email */
.input-email {
    display: inline-block;
  
    width: 385px;
    padding: 15px;
  
    color: rgba(117, 117, 117, 0.8);
  
    border: 1px;
  }